.nav {
  /* position: fixed; */
  background-color: rgb(180, 205, 207);
  padding: 10px;
  width: 100%;
  margin-left: -10px;

  
}
span {
  margin: 10px;
}
.signs {
  text-align: end;
  margin-right: 10%;
  padding: 27px;
  margin-top: -110px;
  font-size: 25px;


}

.eat {
  font-weight: bolder;
  margin-left: 10%;
  font-size: 45px;
  margin-top: -3px;

}
a:link {
  text-decoration: none;
}
a:active {
  color: rgb(243, 109, 20);
}
a:hover {
  color: rgb(247, 12, 12);
}
