.nav {
  /* position: fixed; */
  background-color: rgb(248, 80, 51);
  padding: 10px;
  width: 100%;
  margin-left: -10px;
}
span {
  margin: 10px;
}
.signs {
  text-align: end;
  margin-right: 10%;
  padding: 20px;
  margin-top: -60px;
}

.eat {
  margin-left: 10%;
}
